include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/oai_metadataschema *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/oai_metadataschema/migration *.ini *.py *.mako
