{% if pkg['relation'] %}
    {% set data_dict = {'relation': pkg.get('relation').split(","), 'relationType': pkg.get('relationType').split(",")} %}


    <h2> {{ _('Related Resources') }} </h2>
    <ul>
                    {% if data_dict.relation[0] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[0].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[0].strip('{}') }}"> {{ data_dict.relation[0].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[1] %}
        <li><p> This dataset related as  <b>{{ data_dict.relationType[1].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[1].strip('{}') }}"> {{ data_dict.relation[1].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[2] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[2].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[2].strip('{}') }}"> {{ data_dict.relation[2].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[3] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[3].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[3].strip('{}') }}"> {{ data_dict.relation[3].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[4] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[4].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[4].strip('{}') }}"> {{ data_dict.relation[4].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[5] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[5].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[5].strip('{}') }}"> {{ data_dict.relation[5].strip("{}") }} </a></p> </li>>
                   {% endif %}

                   {% if data_dict.relation[6] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[6].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[6].strip('{}') }}"> {{ data_dict.relation[6].strip("{}") }} </a></p> </li>>
                   {% endif %}

                   {% if data_dict.relation[7] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[7].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[7].strip('{}') }}"> {{ data_dict.relation[7].strip("{}") }} </a></p> </li>
                   {% endif %}

                   {% if data_dict.relation[8] %}
        <li><p> This dataset related as <b>{{ data_dict.relationType[8].strip("{}") }}</b> to <a href="https://doi.org/{{ data_dict.relation[8].strip('{}') }}"> {{ data_dict.relation[8].strip("{}") }} </a></p> </li>
                    {% endif %}

    </ul>
{% endif %}