{% ckan_extends %}


{% block extras %}
{{ super() }}

  {% if pkg_dict.language %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Language") }}</th>
      <td class="dataset-details">{{ pkg_dict.language }}</td>
    </tr>
  {% endif %}


<!--  {% if pkg_dict.relation %}-->
<!--    <tr>-->
<!--       <th scope="row" class="dataset-label">{{ _("Relation") }}</th>-->
<!--       <td class="dataset-details">{{ pkg_dict.relation }}</td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <th scope="row" class="dataset-label">{{ _("RelationType") }}</th>-->
<!--        <td class="dataset-details">{{ pkg_dict.relationType }}</td>-->
<!--    </tr>-->
<!--  {% endif %}-->

{% endblock %}



{#
{#     <tr>                                                                     #}
{#       <th scope="row" class="dataset-label">{{ _("Relation") }}</th>         #}
{#       <td class="dataset-details">{{ pkg_dict.relation }}</td>               #}
{#     </tr>                                                                    #}
{#     <tr>                                                                     #}
{#       <th scope="row" class="dataset-label">{{ _("RelationType") }}</th>     #}
{#       <td class="dataset-details">{{ pkg_dict.relationType }}</td>           #}
{#     </tr>                                                                    #}
{#                                                                              #}
{#      <tr>                                                                    #}
{#       <th scope="row" class="dataset-label">{{ _("Relation") }}</th>         #}
{#       <td class="dataset-details">{{ pkg_dict.relation }}</td>               #}
{#     </tr>                                                                    #}
{#     <tr>                                                                     #}
{#       <th scope="row" class="dataset-label">{{ _("RelationType") }}</th>     #}
{#       <td class="dataset-details">{{ pkg_dict.relationType }}</td>           #}
{#     </tr>                                                                    #}
{#                                                                              #}
{#  {% endif %}                                                                 #}
{#{% endblock %}                                                                #}