{% if pkg.get('inchi') %}
{% set data_dict = {'inchi': pkg.get('inchi'), 'smiles': pkg.get('smiles'), 'inchi_key': pkg.get('inchi_key'), 'exact_mass' : pkg.get('exactmass')} %}

<section class="chemical-info">
  <h3>{{ _('Chemical Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
        <tbody>
        {% if data_dict.inchi %}
          <tr>
           <th scope="row" class="dataset-label">{{ _("InChI") }}</th>
           <td class="dataset-details">{{ data_dict.inchi }}</td>
          </tr>
        {% endif %}

        {% if data_dict.smiles %}
          <tr>
             <th scope="row" class="dataset-label">{{ _("SMILES") }}</th>
             <td class="dataset-details">{{ data_dict.smiles }}</td>
          </tr>
         {% endif %}

        {% if data_dict.inchi_key %}
          <tr>
             <th scope="row" class="dataset-label">{{ _("InChI Key ") }}</th>
             <td class="dataset-details">{{ data_dict.inchi_key }}</td>
          </tr>
        {% endif %}

        {% if data_dict.exact_mass %}
          <tr>
             <th scope="row" class="dataset-label">{{ _("Exact Mass") }}</th>
             <td class="dataset-details">{{ data_dict.exact_mass }} {{ _('g/mol') }}</td>
          </tr>
        {% endif %}
         </tbody>
 </table>
</section>
{% endif %}
